.header {
    background-color: rebeccapurple;
    padding: 1.45rem 1.0875rem;
}

.header__title {
    max-width: 60rem;
    margin-left: auto;
    margin-right: auto;
}

.header__link {
    color: white;
    text-decoration: none;
}